//================================
//ベンダープレフィックス自動付与
//================================
$set-prefix: '', -moz- , -webkit- , -o- , -ms-;
@mixin PropertySetPrefix($name, $value){ //ベンダープレフィックスを自動で付与する
	@each $prefix in $set-prefix {
		#{$prefix}#{$name}: $value;
	}
}
@mixin valueSetPrefix($name, $value){ //値にプレフィックスを付与
	@each $prefix in $set-prefix {
		#{$name}: #{$prefix}$value;
	}
}


//================================
//ボタン
//================================
//矢印の共通設定(btnArrow)
@mixin btnArrow {
	position:absolute;
	top:50%;
	right:.7em;
	transform:translateY(-50%);
	font-size:inherit;
	line-height:1.2;
	white-space:nowrap;
	font-family: 'Material Icons';
	content:"keyboard_arrow_right";
	width: 1.2em;
	height:1.2em;
	padding:.1em;
}
   //形状の共通設定(btnSetting)
@mixin btnSetting {
	position:relative;
	padding:.7em 2.4em .7em .7em;
	border:1px solid transparent;
	color:$colorMonoLight;
	line-height:1.5;
	box-shadow:$colorTransShadowLink;
	&::after{
		@include btnArrow;
	}
	&[target="_blank"] {
		&::after{
			content:"";
		}
	}
}
   //配色の共通設定(btnSettingInline)
@mixin btnSettingInline($base, $after){
	@include btnSetting;
	display:inline-block;
	text-align:center;
	border-color:$base;
	background-color: $base;
	&::after{
		color:$base;
	}
	&:hover{
		background: $after;
		&::after{
			color:$after;
		}
	}
}
//================================
//リンクトライアングル
//================================
@mixin linkTryangle {
	position:relative;
	text-decoration:none;
	color:$colorFontBase;
	&::after{
		position:absolute;
		content:"";
		bottom:5px;
		right:5px;
		border:$linkTryangle solid transparent;
		border-right:$linkTryangle solid $colorMain;
		border-bottom:$linkTryangle solid $colorMain;
	}
}
//================================
//アニメーション
//================================
@mixin animationOn {
	@include PropertySetPrefix(transition, 0.35s);//ベンダープレフィックス自動付与
}
@mixin animationOff {
	@include PropertySetPrefix(transition, 0s);//ベンダープレフィックス自動付与
}

//================================
//マテリアルアイコン
//================================
@mixin materialIcons {
	position: absolute;
	font-family: 'Material Icons';
	font-size: 24px;
	font-weight: normal;
	line-height: 1;
	white-space: nowrap;
}

@mixin listNoteSetting {
	position: relative;
	margin-bottom: .3em;
	&::before{
		@include materialIcons;
		top: 0;
		font-size: 1.5em;
		line-height: 1.134;
	}
}
//================================
//ラベル
//================================
@mixin lableSetting {
	display: inline-block;
	padding: 0.4em 0.8em;
	font-size: 11px;
	line-height: 1;
	color: $colorMonoLight;
    background-color: #B8420D;
    border-radius: 5px;
}