//文字色
//---------------------------------------------------------------//
.font_color_accent {color: #ed2d2d;}


//背景色
//---------------------------------------------------------------//
.bg_accent {background-color: #FCF2E7;}
.bg_mono {background: #CCCCCC;}
.bg_mono_light {background: #FFFFFF;}
.bg_main_light {background: #fcf2e7;}

//display
//---------------------------------------------------------------//

//罫線
//---------------------------------------------------------------//
.no_border_small {
	margin: 1.1em 0;
	border: none;
}
.no_border_medium {
	margin: 2.6em 0;
	border: none;
}